{% extends 'base.html' %}
{% block about %}class="active"{% endblock about %}
{% load static %}

{% block content %}
        <div class="page-title">
            <div class="title-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-heading">
                                <h1 class="h1-title">ABOUT US</h1>
                            </div>
                            <ul class="breadcrumbs">
                                <li><a href="#" title="">Home</a></li>
                                <li class="dot">/</li>
                                <li>About</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="flat-recent-market">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="wrap-recent-text">
                            <h2 class="title">ABOUT US</h2>
                            <div class="content-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat pretium
                                    tincidunt. Donec ultricies pulvinar velit, eget euismod sapien. Duis pharetra sed
                                    ante blandit posuere. Etiam placerat metus.</p>
                                <p>Proin at metus congue, semper nunc sed, sollicitudin dui. Nunc utcon dimentum mi. In
                                    pharetra ipsum leo, velas porttitor elit posuere eu. Pellentesque aliquam, neque at
                                    maximus rhoncus, ante tortor.</p>
                                <a href="#" class="read-more" title="">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-image center">
                            <img src="{% static 'images/page/laptop-1.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="flat-counter">
            <div class="container">
                <div class="wrap-counter">
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <div class="square center">
                                <div class="counter-box">
                                    <div class="numb-count" data-from="0" data-to="50" data-speed="2000"
                                        data-waypoint-active="yes">50</div>
                                    <div class="text color-default">
                                        PROJECTS
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="square center">
                                <div class="counter-box">
                                    <div class="numb-count" data-from="0" data-to="70" data-speed="2000"
                                        data-waypoint-active="yes">70</div>
                                    <div class="text">
                                        CLIENTS
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="square center">
                                <div class="counter-box">
                                    <div class="numb-count" data-from="0" data-to="120" data-speed="2000"
                                        data-waypoint-active="yes">120</div>
                                    <div class="text">
                                        ACCOUNTS
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="square center">
                                <div class="counter-box">
                                    <div class="numb-count" data-from="0" data-to="220" data-speed="2000"
                                        data-waypoint-active="yes">220</div>
                                    <div class="text">
                                        TRANSACTIONS
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="flat-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="top-title center">
                            <h2>OUR EXPERTS</h2>
                            <p>Our team can help you buy bitcoins, choose a bitcoin wallet.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member center">
                            <div class="team-image">
                                <a href="#" title=""><img src="{% static 'images/team/01.jpg' %}" alt=""></a>
                                <div class="team-desc">
                                    <ul class="list-info">
                                        <li><i class="fa fa-envelope" aria-hidden="true"></i> <a
                                                href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                data-cfemail="4a23242c252e2f2f3829382f2b3e233c2f0a2d272b232664292527">[email&#160;protected]</a>
                                        </li>
                                        <li><i class="fa fa-phone" aria-hidden="true"></i> +1 234 800 8080</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info">
                                <div class="name">
                                    <a href="#" title="">Arnold Palmer</a>
                                </div>
                                <div class="position">
                                    BitCoin Consultant
                                </div>
                                <ul class="social">
                                    <li>
                                        <a href="" title="Facebook">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="Twitter">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="Instagram">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="Google Plus">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="Linkedin">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member center">
                            <div class="team-image">
                                <a href="#" title=""><img src="{% static 'images/team/02.jpg' %}" alt=""></a>
                                <div class="team-desc">
                                    <ul class="list-info">
                                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a
                                                href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                data-cfemail="422b2c242d2627273021302723362b342702252f232b2e6c212d2f">[email&#160;protected]</a>
                                        </li>
                                        <li><i class="fa fa-phone" aria-hidden="true"></i> +1 234 800 8080</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info">
                                <div class="name">
                                    <a href="#" title="">Bruno Alves</a>
                                </div>
                                <div class="position">
                                    General Director
                                </div>
                                <ul class="social">
                                    <li>
                                        <a href="" title="Facebook">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="Twitter">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="Instagram">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="Google Plus">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="Linkedin">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-member center">
                            <div class="team-image">
                                <a href="#" title=""><img src="{% static 'images/team/03.jpg' %}" alt=""></a>
                                <div class="team-desc">
                                    <ul class="list-info">
                                        <li><i class="fa fa-envelope" aria-hidden="true"></i> <a
                                                href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                data-cfemail="88e1e6eee7ecededfaebfaede9fce1feedc8efe5e9e1e4a6ebe7e5">[email&#160;protected]</a>
                                        </li>
                                        <li><i class="fa fa-phone" aria-hidden="true"></i> +1 234 800 8080</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info">
                                <div class="name">
                                    <a href="#" title="">Kelly Brook</a>
                                </div>
                                <div class="position">
                                    Assistant Manager
                                </div>
                                <ul class="social">
                                    <li>
                                        <a href="" title="Facebook">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="Twitter">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="Instagram">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="Google Plus">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="Linkedin">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="flat-testimonial bg-browse">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="testimonial-slider">
                            <ul class="slides">
                                <li class="flex-active-slide" data-thumb="{% static 'images/flexslider/thumb/01.png' %}">
                                    <div class="testimonials center">
                                        <div class="logo-testimonial">
                                            <span class="fs1" aria-hidden="true" data-icon="{"></span>
                                        </div>
                                        <div class="message">
                                            <blockquote class="whisper">
                                                "With a heavy focus on collecting and analyzing data, your services can
                                                help organizations that are looking for a robust analytical tool and
                                                consider content management a key concern. Everyone I've worked with,
                                                from my account manager to technical support, they really care about my
                                                success"
                                            </blockquote>
                                        </div>
                                        <div class="testimonial-author">
                                            <div class="author-name">Mr James Harvey</div>
                                            <div class="author-info">Sale Manager</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="flex-active-slide" data-thumb="{% static 'images/flexslider/thumb/02.png' %}">
                                    <div class="testimonials center">
                                        <div class="logo-testimonial">
                                            <span class="fs1" aria-hidden="true" data-icon="{"></span>
                                        </div>
                                        <div class="message">
                                            <blockquote class="whisper">
                                                "With a heavy focus on collecting and analyzing data, your services can
                                                help organizations that are looking for a robust analytical tool and
                                                consider content management a key concern. Everyone I've worked with,
                                                from my account manager to technical support, they really care about my
                                                success"
                                            </blockquote>
                                        </div>
                                        <div class="testimonial-author">
                                            <div class="author-name">Mr James </div>
                                            <div class="author-info">Tax Advice</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="flex-active-slide" data-thumb="{% static 'images/flexslider/thumb/03.png' %}">
                                    <div class="testimonials center">
                                        <div class="logo-testimonial">
                                            <span class="fs1" aria-hidden="true" data-icon="{"></span>
                                        </div>
                                        <div class="message">
                                            <blockquote class="whisper">
                                                "With a heavy focus on collecting and analyzing data, your services can
                                                help organizations that are looking for a robust analytical tool and
                                                consider content management a key concern. Everyone I've worked with,
                                                from my account manager to technical support, they really care about my
                                                success"
                                            </blockquote>
                                        </div>
                                        <div class="testimonial-author">
                                            <div class="author-name">Mr James </div>
                                            <div class="author-info">Tax Advice</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="flat-call-back">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap-call-back">
                            <div class="title">
                                <h2>DO YOU NEED A CONSULTANT?</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan tristique
                                    lorem, nec vehicula sem aliquam ut. Duis at dictum eros. sodales mauris in ante
                                    tempus</p>
                            </div>
                            <div class="btn-call-back">
                                <a href="#" title="">Click to Consultant</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}