{% extends 'base.html' %}
{% block home %}class="active"{% endblock home %}
{% load static %}
{% load website_tags %}

{% block content %}

<div id="banner-container" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export"
    data-source="gallery"
    style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

    <div id="banner-slide" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
        <div class="slotholder"></div>
        <ul>
            <li data-index="rs-3050" data-transition="slideremovedown" data-slotamount="7" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
                data-masterspeed="2000" data-rotate="0" data-saveperformance="off" data-title="Ken Burns" data-param1=""
                data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                data-param9="" data-param10="" data-description="">

                <img src="{% static 'images/slides/slide-04.jpg' %}" alt="" data-bgposition="center center"
                    data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100"
                    data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0"
                    data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>


                <div class="tp-caption title-slide color-white letter-spacing3px" id="slide-3049-layer-1"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']" data-voffset="['-100','-90','-90','-100']"
                    data-fontsize="['55','50','42','32']" data-lineheight="['72','64','50','40']"
                    data-fontweight="['700','600','600','500']" data-width="['1200','900','700','400']"
                    data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on"
                    data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center','center','center','center']" data-paddingtop="[10,10,10,10]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0" data-paddingleft="[0,0,0,0]"
                    style="z-index: 16; white-space: nowrap;">BLOCKCHAIN IS THE WORLD'S LEADING SOFTWARE
                    PLATFORM FOR DIGITAL
                </div>

                <div class="tp-caption sub-title color-white" id="slide-3049-layer-4"
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']" data-voffset="['37','60','50','40']"
                    data-fontsize="['18',18','16','14']" data-lineheight="['32','28','28','24']"
                    data-fontweight="['500','400','400','400']" data-width="['1050','700','500','400']"
                    data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                    style="z-index: 17; white-space: nowrap;">Offering the largest production block chain
                    platform in the world, we are using new technology to build a radically better financial
                    system. Our technology is revolutionizing the financial services industry
                </div>
                <a href="#" target="_self" class="tp-caption flat-button-slider bg-blue"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-x="['center','center','center','center']" data-hoffset="['-100','-100','-100','-100']"
                    data-y="['middle','middle','middle','middle']" data-voffset="['131','180','160','130']"
                    data-fontsize="['14','14','14','14']" data-width="['auto']" data-height="['auto']">GET
                    STARTED
                </a>
                <a href="#" target="_self" class="tp-caption flat-button-slider bg-white"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-x="['center','center','center','center']" data-hoffset="['100','100','100','100']"
                    data-y="['middle','middle','middle','middle']" data-voffset="['131','180','160','130']"
                    data-fontsize="['14',14','14','14']" data-width="['auto']" data-height="['auto']">CONTACT US
                </a>
            </li>
        </ul>
    </div>
</div>
<section class="flat-why-choose bg-browse">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-title center">
                    <h2>WHY CHOOSE BITCOIN</h2>
                    <p>Bitcoin makes it easy to send real money quickly to anywhere in the world.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-choose">
                    <div class="box-left">
                        <div class="iconbox inline-right style2 right">
                            <div class="icon">
                                <img src="{% static 'images/icon/security.png' %}" alt="">
                            </div>
                            <div class="iconbox-content">
                                <h4>SECURITY</h4>
                                <p>In pretium neque a libero congue. Elit diam lectus, Praesent lacinia vitae
                                    sit ut mattis. Etiam mollis dui maximus.</p>
                            </div>
                        </div>
                        <div class="iconbox inline-right style2 right pdr-30">
                            <div class="icon">
                                <img src="{% static 'images/icon/insurance.png' %}" alt="">
                            </div>
                            <div class="iconbox-content">
                                <h4>INSURANCE</h4>
                                <p>In pretium neque a libero congue. Elit diam lectus, Praesent lacinia vitae
                                    sit ut mattis. Etiam mollis dui maximus.</p>
                            </div>
                        </div>
                        <div class="iconbox inline-right style2 right">
                            <div class="icon">
                                <img src="{% static 'images/icon/mobile-app.png' %}" alt="">
                            </div>
                            <div class="iconbox-content">
                                <h4>MOBILE APP</h4>
                                <p>In pretium neque a libero congue. Elit diam lectus, Praesent lacinia vitae
                                    sit ut mattis. Etiam mollis dui maximus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-center">
                        <div class="single-image">
                            <img src="{% static 'images/page/coin.png' %}" alt="">
                        </div>
                    </div>
                    <div class="box-right">
                        <div class="iconbox inline-left style2 left">
                            <div class="icon">
                                <img src="{% static 'images/icon/wallet.png' %}" alt="">
                            </div>
                            <div class="iconbox-content">
                                <h4>SECURE WALLET</h4>
                                <p>In pretium neque a libero congue. Elit diam lectus, Praesent lacinia vitae
                                    sit ut mattis. Etiam mollis dui maximus.</p>
                            </div>
                        </div>
                        <div class="iconbox inline-left style2 left pdl-30">
                            <div class="icon">
                                <img src="{% static 'images/icon/recurring.png' %}" alt="">
                            </div>
                            <div class="iconbox-content">
                                <h4>RECURRING BUYING</h4>
                                <p>In pretium neque a libero congue. Elit diam lectus, Praesent lacinia vitae
                                    sit ut mattis. Etiam mollis dui maximus.</p>
                            </div>
                        </div>
                        <div class="iconbox inline-left style2 left">
                            <div class="icon">
                                <img src="{% static 'images/icon/exchange.png' %}" alt="">
                            </div>
                            <div class="iconbox-content">
                                <h4>INSTANT EXCHANGE</h4>
                                <p>In pretium neque a libero congue. Elit diam lectus, Praesent lacinia vitae
                                    sit ut mattis. Etiam mollis dui maximus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-our-work style2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-title center">
                    <h2>HOW IT WORKS</h2>
                    <p>Bitcoin is received, stored, and sent using software known as a 'Bitcoin Wallet'</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrap-iconbox style1">
                <div class="one-three">
                    <div class="iconbox center style6">
                        <div class="icon">
                            <span><img src="{% static 'images/icon/account.png' %}" alt=""></span>
                            <div class="number  left">
                                1
                            </div>
                        </div>
                        <div class="iconbox-content">
                            <h4><a href="#" title="">CREAT ACCOUNT</a></h4>
                            <p>In Aenean lacus purus, pretium sit met sapien. Nam enetume faucibus, morbi
                                tempor, desu et dapibus volutpat.</p>
                        </div>
                    </div>
                </div>
                <div class="one-three">
                    <div class="iconbox center style6">
                        <div class="icon">
                            <span><img src="{% static 'images/icon/payment.png' %}" alt=""></span>
                            <div class="number center">
                                2
                            </div>
                        </div>
                        <div class="iconbox-content">
                            <h4><a href="#" title="">MAKE PAYMENT</a></h4>
                            <p>In Aenean lacus purus, pretium sit met sapien. Nam enetume faucibus, morbi
                                tempor, desu et dapibus volutpat.</p>
                        </div>
                    </div>
                </div>
                <div class="one-three">
                    <div class="iconbox center style6">
                        <div class="icon">
                            <span><img src="{% static 'images/icon/orders.png' %}" alt=""></span>
                            <div class="number right">
                                3
                            </div>
                        </div>
                        <div class="iconbox-content">
                            <h4><a href="#" title="">BUY OR SELL ORDERS</a></h4>
                            <p>In Aenean lacus purus, pretium sit met sapien. Nam enetume faucibus, morbi
                                tempor, desu et dapibus volutpat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-about style1 bg-browse equal sm-equal-auto">
    <div class="one-half img-about-big">
    </div>
    <div class="one-half">
        <div class="wrap-recent-text style2">
            <h2 class="title">ABOUT US</h2>
            <div class="content-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat pretium tincidunt.
                    Donec ultricies pulvinar velit, eget euismod sapien. Duis pharetra sed ante blandit posuere.
                    Etiam placerat metus.</p>
                <p>Proin at metus congue, semper nunc sed, sollicitudin dui. Nunc utcon dimentum mi. In pharetra
                    ipsum leo, velas porttitor elit posuere eu. Pellentesque aliquam, neque at maximus rhoncus,
                    ante tortor.</p>
                <a href="#" class="read-more" title="">GET STARTED</a>
            </div>
        </div>
    </div>
</section>
<section class="flat-recent-market style3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="wrap-recent-text style4">
                    <h2 class="title">WHY CHOOSE US</h2>
                    <div class="content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat pretium
                            tincidunt. Donec ultricies pulvinar velit, eget euismod sapien. Duis pharetra sed
                            ante blandit posuere. Etiam placerat metus.</p>
                        <p>Proin at metus congue, semper nunc sed, sollicitudin dui. Nunc utcon dimentum mi. In
                            pharetra ipsum leo, velas porttitor elit posuere eu. Pellentesque aliquam, neque at
                            maximus rhoncus, ante tortor.</p>
                        <a href="#" class="read-more" title="">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-box">
                    <div class="flat-video-fancybox center">
                        <a class="fancybox" data-type="iframe"
                            href="https://www.youtube.com/embed/2Ge1GGitzLw?autoplay=1">
                            <img src="{% static 'images/page/laptop-2.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-counter">
    <div class="container">
        <div class="wrap-counter">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="square style2 center">
                        <div class="counter-box">
                            <div class="icon">
                                <i class="fa fa-flag" aria-hidden="true"></i>
                            </div>
                            <div class="numb-count" data-from="0" data-to="50" data-speed="2000"
                                data-waypoint-active="yes">0</div>
                            <div class="text color-default">
                                PROJECTS
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="square style2 center">
                        <div class="counter-box">
                            <div class="icon">
                                <i class="fa fa-suitcase" aria-hidden="true"></i>
                            </div>
                            <div class="numb-count" data-from="0" data-to="70" data-speed="2000"
                                data-waypoint-active="yes">0</div>
                            <div class="text">
                                CLIENTS
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="square style2 center">
                        <div class="counter-box">
                            <div class="icon">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <div class="numb-count" data-from="0" data-to="120" data-speed="2000"
                                data-waypoint-active="yes">0</div>
                            <div class="text">
                                ACCOUNTS
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="square style2 center">
                        <div class="counter-box">
                            <div class="icon">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </div>
                            <div class="numb-count" data-from="0" data-to="220" data-speed="2000"
                                data-waypoint-active="yes">0</div>
                            <div class="text">
                                TRANSACTIONS
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-price-coin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-title center">
                    <h2>CRYPTOCURRENCY PRICES</h2>
                    <p>The Bitcoin ecosystem at a glance. Any of our service with free test credits or actual
                        Bitcoins.</p>
                </div>
                <div class="table-price">
                    <table>
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>Name</th>
                                <th>USD</th>
                                <th>Change 24h</th>
                                <th>Change 7d</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>BTC</td>
                                <td>Bitcoin</td>
                                <td>11,703</td>
                                <td class="color-green">8.63 %</td>
                                <td class="color-green">2.9 %</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>Ethereum</td>
                                <td>1,109</td>
                                <td class="color-green">12.51 %</td>
                                <td class="color-green">8.18 %</td>
                            </tr>
                            <tr>
                                <td>XRP</td>
                                <td>Ripple</td>
                                <td>1.375</td>
                                <td class="color-red">-2.14 %</td>
                                <td class="color-red">-0.79 %</td>
                            </tr>
                            <tr>
                                <td>LTC</td>
                                <td>Litecoin</td>
                                <td>185.8</td>
                                <td class="color-green">4.89 %</td>
                                <td class="color-red">-1.31 %</td>
                            </tr>
                            <tr>
                                <td>XMR</td>
                                <td>Monero</td>
                                <td>328.8</td>
                                <td class="color-red">-5.98 %</td>
                                <td class="color-green">1.15 %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-title center">
                    <h2>OUR EXPERTS</h2>
                    <p>Our team can help you buy bitcoins, choose a bitcoin wallet.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member style1 center">
                    <div class="team-image">
                        <a href="#" title=""><img src="{% static 'images/team/01.jpg' %}" alt=""></a>
                    </div>
                    <div class="team-info">
                        <div class="name">
                            <a href="#" title="">Arnold Palmer</a>
                        </div>
                        <div class="position">
                            BitCoin Consultant
                        </div>
                        <ul class="social">
                            <li>
                                <a href="" title="Facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Instagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Google Plus">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Linkedin">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member style1 center">
                    <div class="team-image">
                        <a href="#" title=""><img src="{% static 'images/team/02.jpg' %}" alt=""></a>
                    </div>
                    <div class="team-info">
                        <div class="name">
                            <a href="#" title="">Bruno Alves</a>
                        </div>
                        <div class="position">
                            General Director
                        </div>
                        <ul class="social">
                            <li>
                                <a href="" title="Facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Instagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Google Plus">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Linkedin">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member style1 center">
                    <div class="team-image">
                        <a href="#" title=""><img src="{% static 'images/team/03.jpg' %}" alt=""></a>
                    </div>
                    <div class="team-info">
                        <div class="name">
                            <a href="#" title="">Kelly Brook</a>
                        </div>
                        <div class="position">
                            Assistant Manager
                        </div>
                        <ul class="social">
                            <li>
                                <a href="" title="Facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Instagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Google Plus">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" title="Linkedin">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="flat-call-back">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-call-back style1">
                    <div class="title">
                        <h2>SUBSCRIBE TO OUR UPDATE</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan tristique
                            lorem, nec vehicula sem aliquam ut. in ante tempus.</p>
                    </div>
                    <div class="form-callback">
                        <form id="subscribe-form-1" action="#" method="post" accept-charset="utf-8"
                            data-mailchimp="true">
                            <div id="subscribe-content-1">
                                <input type="email" name="email-form" id="subscribe-email-1"
                                    placeholder="Your Email Address">
                                <button type="button" id="subscribe-button-1"
                                    class="button-subscribe">Subscribe</button>
                            </div>
                            <div id="subscribe-msg-1"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% latestposts %}

{% endblock %}