{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-title">
    <div class="title-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        <h1 class="h1-title">BLOG</h1>
                    </div>
                    <ul class="breadcrumbs">
                        <li><a href="{% url 'website:index' %}" title="">Home</a></li>
                        <li class="dot">/</li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="sidebar">
                    <aside class="widget widget_search">
                        <h2 class=widget-title>Search Here</h2>
                        <form action="#" method="get" accept-charset="utf-8">
                            <div class="input-search">
                                <input type="text" name="search" />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </aside>
                    <aside class="widget widget-recent-news">
                        <h2 class=widget-title>Recent post</h2>
                        <ul class="recent-news">
                            <li>
                                <div class="post-image">
                                    <a href="#" title=""><img src="{% static 'images/blog/recent-post/post-01.jpg' %}"
                                            alt=""></a>
                                </div>
                                <div class="post-content">
                                    <h5>
                                        <a href="blog-single.html" title="">Sberbank to Bypass Russian
                                            Regulations</a>
                                    </h5>
                                    <ul class="meta-left">
                                        <li class="post-date">
                                            <i class="fa fa-calendar"></i> 12 Feb 2018
                                        </li>
                                        <li class="post-view">
                                            <i class="fa fa-eye"></i> 22
                                        </li>
                                        <li class="post-comment">
                                            <i class="fa fa-comment"></i> 7
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="post-image">
                                    <a href="#" title=""><img src="{% static 'images/blog/recent-post/post-02.jpg' %}"
                                            alt=""></a>
                                </div>
                                <div class="post-content">
                                    <h5>
                                        <a href="blog-single.html" title="">Missed the Altcoin? The Satoshi Is
                                            Still Very Cheap</a>
                                    </h5>
                                    <ul class="meta-left">
                                        <li class="post-date">
                                            <i class="fa fa-calendar"></i> 12 Feb 2018
                                        </li>
                                        <li class="post-view">
                                            <i class="fa fa-eye"></i> 19
                                        </li>
                                        <li class="post-comment">
                                            <i class="fa fa-comment"></i> 10
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="post-image">
                                    <a href="#" title=""><img src="{% static 'images/blog/recent-post/post-03.jpg' %}"
                                            alt=""></a>
                                </div>
                                <div class="post-content">
                                    <h5>
                                        <a href="blog-single.html" title="">The Cryptocurrency Are Having an
                                            Interesting Week</a>
                                    </h5>
                                    <ul class="meta-left">
                                        <li class="post-date">
                                            <i class="fa fa-calendar"></i> 12 Feb 2018
                                        </li>
                                        <li class="post-view">
                                            <i class="fa fa-eye"></i> 28
                                        </li>
                                        <li class="post-comment">
                                            <i class="fa fa-comment"></i> 18
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="post-image">
                                    <a href="#" title=""><img src="{% static 'images/blog/recent-post/post-04.jpg' %}"
                                            alt=""></a>
                                </div>
                                <div class="post-content">
                                    <h5>
                                        <a href="blog-single.html" title=""> Most Toughest Bitcoin Puzzle Is as
                                            Clever</a>
                                    </h5>
                                    <ul class="meta-left">
                                        <li class="post-date">
                                            <i class="fa fa-calendar"></i> 12 Feb 2018
                                        </li>
                                        <li class="post-view">
                                            <i class="fa fa-eye"></i> 11
                                        </li>
                                        <li class="post-comment">
                                            <i class="fa fa-comment"></i> 5
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="post-image">
                                    <a href="#" title=""><img src="{% static 'images/blog/recent-post/post-05.jpg' %}"
                                            alt=""></a>
                                </div>
                                <div class="post-content">
                                    <h5>
                                        <a href="blog-single.html" title="">Cryptocurrencies Are Pushing
                                            Innovation and Profits</a>
                                    </h5>
                                    <ul class="meta-left">
                                        <li class="post-date">
                                            <i class="fa fa-calendar"></i> 12 Feb 2018
                                        </li>
                                        <li class="post-view">
                                            <i class="fa fa-eye"></i> 14
                                        </li>
                                        <li class="post-comment">
                                            <i class="fa fa-comment"></i> 9
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget widget_tag_cloud">
                        <h2 class="widget-title">Tags</h2>
                        <div class="tag-cloud">
                            <a href="#" title="" class="tag-link">BITCOIN</a>
                            <a href="#" title="" class="tag-link">TRADING</a>
                            <a href="#" title="" class="tag-link">NEWS</a>
                            <a href="#" title="" class="tag-link">PAYMENT</a>
                            <a href="#" title="" class="tag-link">IDEAS</a>
                            <a href="#" title="" class="tag-link">SOCIAL</a>
                        </div>
                    </aside>
                    <aside class="widget widget_categories">
                        <h2 class=widget-title>Guide</h2>
                        <ul>
                            <li class="cat-item"><a href="#" title="">Best Cryptocurrency Exchanges for
                                    Beginners</a></li>
                            <li class="cat-item"><a href="#" title="">Best Bitcoin Wallets 2017</a></li>
                            <li class="cat-item"><a href="#" title="">Best Ethereum Wallets 2017</a></li>
                            <li class="cat-item"><a href="#" title="">Trezor vs Ledger Review</a></li>
                            <li class="cat-item"><a href="#" title="">How to Buy Bitcoin using a Credit or Debit
                                    Card</a></li>
                            <li class="cat-item"><a href="#" title="">How to Buy Bitcoin With PayPal</a></li>
                            <li class="cat-item"><a href="#" title="">Binance Review</a></li>
                            <li class="cat-item"><a href="#" title="">Kucoin Review</a></li>
                            <li class="cat-item"><a href="#" title="">Coinbase Review</a></li>
                            <li class="cat-item"><a href="#" title="">Localbitcoins Review</a></li>
                            <li class="cat-item"><a href="#" title="">IQ Option Review</a></li>
                            <li class="cat-item"><a href="#" title="">Protect Your Cryptos</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="post-wrap">
                    {% for post in posts %}
                    <article class="main-post">
                        <div class="featured-post">
                            <a href="{% url 'blog:single' pid=post.id %}" title="">
                                <img src="{% static 'images/blog/post-01.jpg' %}" alt="" />
                            </a>
                        </div>
                        <div class="entry-content">
                            <h2>
                                <a href="{% url 'blog:single' pid=post.id %}" title="">{{post.title}}</a>
                            </h2>
                            <p>
                                {{post.content}}
                            </p>
                            <a href="#" class="read-more" title="">READ MORE</a>
                        </div>
                        <ul class="meta-left">
                            <li class="post-date">
                                <i class="fa fa-calendar"></i> {{post.published_date}}
                            </li>
                            <li class="post-author">
                                <i class="fa fa-user"></i> {{post.author}}
                            </li>
                            <li class="post-view">
                                <i class="fa fa-eye"></i> {{post.counted_views}}
                            </li>
                            <li class="post-comment">
                                <i class="fa fa-comment"></i> 12
                            </li>
                        </ul>
                    </article>
                    {% endfor %}
                    <div class="blog-pagination left">
                        <ul class="flat-pagination">
                            <li><a href="#" title="" class="active">1</a></li>
                            <li><a href="#" title="">2</a></li>
                            <li><a href="#" title=""><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}