{% extends 'base.html' %}
{% block blog %}class="active"{% endblock blog %}
{% load static %}

{% block content %}
<div class="page-title">
    <div class="title-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        <h1 class="h1-title">{{post.title}}</h1>
                    </div>
                    <ul class="breadcrumbs">
                        <li><a href="{% url 'blog:blog' %}" title="">Blog</a></li>
                        <li class="dot">/</li>
                        <li>{{post.title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="main-post main-single">
                    <div class="featured-post">
                        <a href="#" title="">
                            <img src="{{post.image.url}}" alt="" />
                        </a>
                    </div>
                    <div class="entry-title">
                        <h2>
                            {{post.title}}
                        </h2>
                        <ul class="meta-left">
                            <li class="post-tags">
                                <i class="fa fa-star"></i>
                                {% for cat in post.category.all %}
                                    <a href="#">{{cat.name}}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                            <li class="post-author">
                                <i class="fa fa-user"></i>
                                <a href="#">{{post.author}}</a>
                            </li>
                            <li class="post-date">
                                <i class="fa fa-calendar"></i> {{post.published_date|date:"d M Y"}}
                            </li>
                            <li class="post-view">
                                <i class="fa fa-eye"></i> {{post.counted_views}}
                            </li>
                            <li class="post-comment">
                                <i class="fa fa-comment"></i> 12
                            </li>
                        </ul>
                    </div>
                    <div class="entry-content">
                        <p>
                            {{post.content}}
                        </p>
                    </div>
                    <div class="direction">
                        <ul class="social">
                            <li>
                                <a href="#" title="">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="widget_tag_cloud">
                            <div class="tag-cloud">
                                <a href="#" title="" class="tag-link">PAYMENT</a>
                                <a href="#" title="" class="tag-link">IDEAS</a>
                                <a href="#" title="" class="tag-link">SOCIAL</a>
                                <a href="#" title="" class="tag-link">BITCOIN</a>
                                <a href="#" title="" class="tag-link">TRADING</a>
                                <a href="#" title="" class="tag-link">NEWS</a>
                            </div>
                        </div>
                    </div>
                    
                </article>
                <div class="comment-single">
                    <div class="comment-area">
                        <h3>3 Comments</h3>
                        <ol class="comment-list">
                            <li class="comment">
                                <article class="comment-body">
                                    <div class="comment-image">
                                        <img src="{% static 'images/blog/comment-01.jpg' %}" alt="">
                                    </div>
                                    <div class="comment-text">
                                        <div class="comment-metadata">
                                            <div class="name">
                                                Thomas Lemar <span class="date"><i class="fa fa-clock-o"
                                                        aria-hidden="true"></i> 12 Feb 2018</span>
                                            </div>
                                        </div>
                                        <div class="comment-content">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                                erat, sed diam voluptua. At vero eos et.</p>
                                        </div>
                                        <div class="reply"><a href="#" title="">Reply</a></div>
                                    </div>
                                </article>
                                <ol class="children">
                                    <li class="comment">
                                        <article class="comment-body">
                                            <div class="comment-image">
                                                <img src="{% static 'images/blog/comment-02.jpg' %}" alt="">
                                            </div>
                                            <div class="comment-text">
                                                <div class="comment-metadata">
                                                    <div class="name">
                                                        Linda Thompson <span class="date"><i class="fa fa-clock-o"
                                                                aria-hidden="true"></i> 12
                                                            Feb 2018</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                                        sed diam nonumy eirmod tempor invidunt ut labore et
                                                        dolore magna aliquyam erat, sed diam voluptua. At vero
                                                        eos et.</p>
                                                </div>
                                                <div class="reply"><a href="#" title="">Reply</a></div>
                                            </div>
                                        </article>
                                    </li>
                                </ol>
                            </li>
                            <li class="comment">
                                <article class="comment-body">
                                    <div class="comment-image">
                                        <img src="{% static 'images/blog/comment-03.jpg' %}" alt="">
                                    </div>
                                    <div class="comment-text">
                                        <div class="comment-metadata">
                                            <div class="name">
                                                Charlie Austin <span class="date"><i class="fa fa-clock-o"
                                                        aria-hidden="true"></i> 12 Feb 2018</span>
                                            </div>
                                        </div>
                                        <div class="comment-content">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                                erat, sed diam voluptua. At vero eos et.</p>
                                        </div>
                                        <div class="reply"><a href="#" title="">Reply</a></div>
                                    </div>
                                </article>
                            </li>
                        </ol>
                    </div>
                    <div class="comment-respond">
                        <h2>Leave your comment</h2>
                        <form action="#" method="get" accept-charset="utf-8">
                            <div class="comment-form-name">
                                <input type="text" name="your-name" placeholder="Your Name">
                            </div>
                            <div class="comment-form-email">
                                <input type="text" name="email" placeholder="Your Email">
                            </div>
                            <div class="comment-form-comment">
                                <textarea placeholder="Your Message"></textarea>
                            </div>
                            <div class="comment-form-submit">
                                <button type="submit">SEND COMMENT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}