{% extends 'base.html' %}
{% block blog %}class="active"{% endblock blog %}
{% load static %}
{% load blog_tags %}

{% block content %}
<div class="page-title">
    <div class="title-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        <h1 class="h1-title">BLOG</h1>
                    </div>
                    <ul class="breadcrumbs">
                        <li><a href="{% url 'website:index' %}" title="">Home</a></li>
                        <li class="dot">/</li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="sidebar">
                    <aside class="widget widget_search">
                        <h2 class=widget-title>Search Here</h2>
                        <form action="{% url 'blog:search' %}" method="get" accept-charset="utf-8">
                            <div class="input-search">
                                <input type="text" name="s" />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </aside>

                    {% popularposts %}

                    <aside class="widget widget_tag_cloud">
                        <h2 class="widget-title">Tags</h2>
                        <div class="tag-cloud">
                            <a href="#" title="" class="tag-link">BITCOIN</a>
                            <a href="#" title="" class="tag-link">TRADING</a>
                            <a href="#" title="" class="tag-link">NEWS</a>
                            <a href="#" title="" class="tag-link">PAYMENT</a>
                            <a href="#" title="" class="tag-link">IDEAS</a>
                            <a href="#" title="" class="tag-link">SOCIAL</a>
                        </div>
                    </aside>
                 
                    {% postcategories %}

                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="post-wrap">
                    {% for post in posts %}
                    <article class="main-post">
                        <div class="featured-post">
                            <a href="{% url 'blog:single' pid=post.id %}" title="">
                                <img src="{{post.image.url}}" alt="" />
                            </a>
                        </div>
                        <div class="entry-content">
                            <h2>
                                <a href="{% url 'blog:single' pid=post.id %}" title="">{{post.title}}</a>
                            </h2>
                            <p>
                                {{post.content|truncatewords:15}}
                            </p>
                            <br>
                            <p align="right">
                                <a href="{% url 'blog:single' pid=post.id %}" class="read-more" title="">READ MORE</a>
                            </p>
                        </div>
                        <ul class="meta-left">
                            <li class="post-tags">
                                <i class="fa fa-star"></i>
                                {% for cat in post.category.all %}
                                    <a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                            <li class="post-author">
                                <i class="fa fa-user"></i>
                                <a href="{% url 'blog:author' author_username=post.author.username %}">{{post.author}}</a>
                            </li>
                            <li class="post-date">
                                <i class="fa fa-calendar"></i> {{post.published_date|date:"d M Y"}}
                            </li>
                            <li class="post-view">
                                <i class="fa fa-eye"></i> {{post.counted_views}}
                            </li>
                            <li class="post-comment">
                                <i class="fa fa-comment"></i> 12
                            </li>
                        </ul>
                    </article>
                    {% endfor %}
                    <div class="blog-pagination left">
                        <ul class="flat-pagination">
                            {% if posts.has_previous %}
                            <li><a href="?page={{posts.previous_page_number}}" title=""><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                            {% endif %}
                            {% for i in posts.paginator.page_range %}
                                {% if posts.number == i %}
                                    <li><a href="?page={{i}}" title="" class="active">{{i}}</a></li>
                                {% else %}
                                    <li><a href="?page={{i}}" title="">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if posts.has_next %}
                            <li><a href="?page={{posts.next_page_number}}" title=""><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}