{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="page-title">
            <div class="title-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-heading">
                                <h1 class="h1-title">ERROR 404</h1>
                            </div>
                            <ul class="breadcrumbs">
                                <li><a href="{% url 'website:index' %}" title="">Home</a></li>
                                <li class="dot">/</li>
                                <li>Error 404</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="error-404 not-found">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap-error center">
                            <header class="page-header">
                                <h1 class="title-404 nothing">404</h1>
                                <div class="sub-title-404">
                                    <p>Oops! This Page is Not Found</p>
                                    <p><a href="{% url 'website:index' %}" title=""><i
                                                class="fa fa-arrow-circle-left" aria-hidden="true"></i> Home</a></p>
                                </div>
                            </header>
                            <div class="form-search-error">
                                <form action="#" method="get" accept-charset="utf-8">
                                    <div class="search-input">
                                        <input type="text" name="search" placeholder="Your Email Address">
                                        <button type="submit">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       {% endblock %}